body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e6f7ff;
}

.container {
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
  padding: 12px;
  background-color: #f0f8ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li button {
  background-color: #fff;
  color: #000;
  border: 1px solid black;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

